<div class="container">
  <ul class="list-group">
    <li class="list-group-item"> <a class="btn btn-primary"
        routerLink="/farmers">FarmersData</a>
    </li>
    <li class="list-group-item"> <a class="btn btn-primary"
        routerLink="/villages">VillageData</a>
    </li>
    <li class="list-group-item"> <a class="btn btn-primary"
        routerLink="/divisionmodels">DivisionData</a>
    </li>
    <li class="list-group-item"> <a class="btn btn-primary"
        routerLink="/landvillages">LandVillageData</a>
    </li>
    <li class="list-group-item"> <a class="btn btn-primary"
        routerLink="/applicationtreatments">ApplicationTreatmentData </a>
    </li>
  </ul>
</div>