   <div class="row">
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/farmers">FarmersData</a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/villages">VillageData</a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/divisionmodels">DivisionData</a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/landvillages">LandVillageData</a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/applicationtreatments">ApplicationTreatmentData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/seasons">SeasonData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/loans">LoanData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/banks">BankData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/farmerbanks">FarmerBankData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/persons">PersonData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/guarantors">GuarantorData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/farmerrelations">FarmerRelattionData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/phones">PhoneData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/plotvisits">PlotVisitData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/crops">CropData </a>
    </div>
    <div class="col-md-3 mycolspan"> <a class="btn btn-primary"
        routerLink="/varietees">VarietyData </a>
    </div>
  </div>
