<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand/logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Piatrika</a>
    </div>

    <!-- Collapsible Navbar -->
    <div class="collapse navbar-collapse" id="example-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/farmer/add">Farmer</a>
        </li>
        <li>
          <a routerLink="/village/add">Village</a>
        </li>
        <li>
          <a routerLink="/divisionmodel/add">Division</a>
        </li>
        <li>
          <a routerLink="/landvillage/add">LandVillage</a>
        </li>
        <li>
          <a routerLink="/applicationtreatment/add">ApplicationTreatment</a>
        </li>
        <li>
          <a routerLink="/season/add">Season</a>
        </li>
        <li>
          <a routerLink="/loan/add">Loan</a>
        </li>
        <li>
          <a routerLink="/bank/add">Bank</a>
        </li>
        <li>
            <a routerLink="/farmerbank/add">FarmerBank</a>
        </li>
        <li>
            <a routerLink="/person/add">Person</a>
        </li>
        <li>
            <a routerLink="/guarantor/add">Guarantor</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="maincontainer">
  <router-outlet></router-outlet>
</div>