.navbar-inverse { background-color: #008080}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:active { background-color: #D2D663;border-right: 4px solid teal;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #D2D663;}
.dropdown-menu { background-color: #D2D663}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #008080}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #222}
.navbar-inverse .navbar-brand { color: #F7FF8A}
.navbar-inverse .navbar-brand:hover { color: #F7FF8A}
.navbar-inverse .navbar-nav>li>a { color: #F7FF8A;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color:rgb(27, 13, 4);font-weight:bold;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF} 
 

/*
 * Off Canvas
 * --------------------------------------------------
 */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
    
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: teal;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: yellow;
    border-bottom:1px solid #222;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: teal;
    background: #D2D663;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: yellow;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.navbar-inverse .navbar-toggle {
    right:10px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    
    #mymenutoggle{
    margin-left:-80px;
    margin-top:-10px;
    }
    .navbar-brand>img{
        margin-top:-13px;
        margin-left:0px;left:0px;
    }

}

@media(max-width:767px) {

    #mymenutoggle{
    margin-left:-55px;
    margin-top:-10px;
    }
    
    .navbar-brand>img{
        margin-top:-13px;
        margin-left:0px;left:0px;
    }

}
  .btn-custom {
        color: #fff;
        background-color: teal;
        border-color: #222;
    }
    
    .btn-custom:hover {
        color: #fff;
        background-color: #52bebe;
        border-color: #222;
    }
    
    .btn-custom:focus,
    .btn-custom.focus {
        box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
    }


