<nav class="navbar navbar-inverse navbar-fixed-top shadow-sm" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-list" aria-hidden="true" style="margin-right:10px;">
          
          </span>
          <span>PIATRIKA</span>
        </a>
        <!-- <a class="navbar-brand1" routerLink='/home'><img src="./assets/piatrika-logo.png"></a> -->

      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a routerLink='/home'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
   </ul>
          
      </div>
  </div>
</nav>

<div id="wrapper" class="toggled">
  <div class="container-fluid">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <br>
              </li>
              <!-- <li class="sidebar-brand">
                  <a href="#" class="navbar-brand">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
                  </a>
              </li> -->
              <li>
                <a routerLink="/farmer/add">Farmer</a>
              </li>
              <li>
                <a routerLink="/village/add">Village</a>
              </li>
              <li>
                <a routerLink="/divisionmodel/add">Division</a>
              </li>
              <li>
                <a routerLink="/landvillage/add">LandVillage</a>
              </li>
              <li>
                <a routerLink="/applicationtreatment/add">ApplicationTreatment</a>
              </li>
              <li>
                <a routerLink="/season/add">Season</a>
              </li>
              <li>
                <a routerLink="/loan/add">Loan</a>
              </li>
              <li>
                <a routerLink="/bank/add">Bank</a>
              </li>
              <li>
                <a routerLink="/farmerbank/add">FarmerBank</a>
              </li>
              <li>
                <a routerLink="/person/add">Person</a>
              </li>
              <li>
                <a routerLink="/guarantor/add">Guarantor</a>
              </li>
              <li>
                <a routerLink="/farmerrelation/add">FarmerRelation</a>
              </li>
              <li>
                <a routerLink="/phone/add">Phone</a>
              </li>
              <li>
                <a routerLink="/plotvisit/add">PlotVisit</a>
              </li>
              <li>
                <a routerLink="/crop/add">Crop</a>
              </li>
              <li>
                <a routerLink="/varietee/add">Variety</a>
              </li>
          </ul>
      </div>
           <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                    <router-outlet></router-outlet>
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->
  </div>
</div>
<!-- /#wrapper -->