<div>
  <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Crop_Name</th>
          <th>Crop_Scientific_Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crop of crops">

          <td>{{crop.crop_name}}</td>
          <td>{{crop.crop_scientific_name}}</td>
         
          <td>
            <div class="btn-group btn-group-sm" style="background-color: transparent;">
              <button class="btn btn-primary myspan" [routerLink]="['/crops', crop.id]">Edit</button>
              <span></span>
              <button class="btn btn-danger myspan" (click)="delete(crop.id)">Delete</button>
            </div>
          </td>
          
        </tr>
      
      </tbody>
    </table>
 

</div>
<div>
  <button class="btn btn-warning myspan" (click)="goBack()">Back</button>
</div>

