<div>
  <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Related_to_Csi</th>
          <th>Relationship_Type</th>
          <th>Person_Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let farmerrelation of farmerrelations">

          <td>{{farmerrelation.related_to_csi}}</td>
          <td>{{farmerrelation.relationship_type}}</td>
          <td>{{farmerrelation.person_id}}</td>
         
          <td>
            <div class="btn-group btn-group-sm" style="background-color: transparent;">
              <button class="btn btn-primary myspan" [routerLink]="['/farmerrelations', farmerrelation.id]">Edit</button>
              <span></span>
              <button class="btn btn-danger myspan" (click)="delete(farmerrelation.id)">Delete</button>
            </div>
          </td>
          
        </tr>
      
      </tbody>
    </table>
 

</div>

