<div [hidden]="submitted">
    <form #addFarmerBankForm="ngForm">
  
        <div class="form-group col-md-6">
            <label for="account_no">Account_No</label>
            <input type="text" class="form-control" id="account_no" placeholder="Enter account_no" required maxlength="45"
              [(ngModel)]="farmerbank.account_no" name="account_no" #account_no="ngModel">
            <div [hidden]="account_no.valid || account_no.pristine" class="alert alert-danger">
                Account_No is required
            </div>
          </div>
      <div class="form-group col-md-6">
          <label for="Farmers_id">Farmers_Id</label>
          <select class="form-control" id="Farmers_id" name="Farmers_id" [(ngModel)]="farmerbank.Farmers_id" #Farmers_id="ngModel">
              <option *ngFor="let farmerbankfarmer of farmers" [value]="farmerbankfarmer.id">
                  {{farmerbankfarmer.id}}
                </option> 
            </select>
        </div>
        <div class="form-group col-md-6">
          <label for="bank_id">Bank_Id</label>
          <select class="form-control" id="bank_id" name="bank_id" [(ngModel)]="farmerbank.bank_id" #bank_id="ngModel">
              <option *ngFor="let farmerbankbankid of banks" [value]="farmerbankbankid.id">
                  {{farmerbankbankid.id}}
                </option> 
            </select>
        </div>
    
  
  
      <div class="btn-group btn-group-sm col-md-12">
        <button type="button" class="btn btn-primary" (click)="addFarmerBankForm.reset()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="addFarmerBankDetail()"
          [disabled]="!addFarmerBankForm.form.valid">Save</button>
      </div>
    </form>
  </div>